name: CI/CD Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:

  # ======================================
  # 1. JOB: Build & Test
  # ======================================
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Instalar dependencias
        run: pip install -r requirements.txt

      - name: Ejecutar pruebas
        run: pytest -q

      - name: Crear artefacto
        run: zip app.zip app.py requirements.txt

      - name: Subir artefacto como build
        uses: actions/upload-artifact@v4
        with:
          name: flask-app
          path: app.zip


  # =====================================
  # 2. JOB: Build y Push a Docker Hub
  # =====================================
  docker-build:
    needs: build-test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Login en Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build de la imagen Docker
        run: docker build -t ${{ secrets.DOCKERHUB_USER }}/flask-lab:latest .

      - name: Push de la imagen a Docker Hub
        run: docker push ${{ secrets.DOCKERHUB_USER }}/flask-lab:latest

